In [48]:
import pandas as pd

dict = {}
#wave2_TEST_2018-06-28-20_44_50.txt
file = input("Enter txt file: ")

Enter txt file: wave2_TEST_2018-06-28-20_44_50.txt

In [50]:

with open(file, "r") as f:
    temp = []
    for line in f:
       
        
        filename = line.split('/')[8]
        sub = filename.split('_')[0]
        task = filename.split('_')[2]
        if sub not in dict:
            if 'task' in task:
                dict[sub] = [task]
            else:
                pass
        else:
            if 'task' in task:
                    dict[sub].append(task)
            else:
                pass
            
        
    f.close()

In [51]:
df=pd.DataFrame.from_dict(dict)

In [52]:
df1 = df.T
df1.head()

                       0                1             2
sub-114  task-milkshakeD     task-GoNoGo2  task-GoNoGo1
sub-078  task-milkshakeD     task-GoNoGo1  task-GoNoGo2
sub-079     task-GoNoGo2  task-milkshakeD  task-GoNoGo1
sub-115  task-milkshakeD     task-GoNoGo2  task-GoNoGo1
sub-081  task-milkshakeD     task-GoNoGo1  task-GoNoGo2

In [53]:
df1.sort_index(inplace=True)
df1.head()

                       0                1             2
sub-078  task-milkshakeD     task-GoNoGo1  task-GoNoGo2
sub-079     task-GoNoGo2  task-milkshakeD  task-GoNoGo1
sub-081  task-milkshakeD     task-GoNoGo1  task-GoNoGo2
sub-082  task-milkshakeD     task-GoNoGo1  task-GoNoGo2
sub-083  task-milkshakeD     task-GoNoGo2  task-GoNoGo1

In [54]:
fileout = file.split('.')[0]
fileout = fileout + '.csv'
print(fileout)
#df1.to_csv(fileout, encoding='utf-8')

wave2_TEST_2018-06-28-20_44_50.csv